@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color:black;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

/* MENU */

.menu {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navbar {
    display: flex;
}

.menu-1 {
    margin-right: 180px;
    margin-top: 40px;
}

/* MENU 2 */

.menu-2 {
    margin-left: 180px;
    display: flex;
    align-items: center;
}

.logo-1 {
    width: 0;
}
.logo-2 {
    width: 150px;
}

.socials {
    display: flex;
}

.social {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid red;
    border-radius: 50%;
}

.social:hover {
    background-color: #ab1c15;
}

.social img {
    margin: 8px 0 0 10px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #DB241B;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

/* FORMULARIO DE CONTACTO */

.contacto {
    text-align: center;
    margin-top: 350px;
    color: white;
    font-size: 20px;
}

.contacto h2 {
    font-size: 50px;
    margin-bottom: 100px;
    text-transform: uppercase;
}

/* CAMPOS A COMPLETAR */

.input-group {
    width: 100%;
    margin-bottom: 15px;
}

.contacto label {
    display: none;
}

.input-group input, .input-group textarea {
    width: 50%;
    padding: 8px;
    margin: 5px;
    border: 1px solid red;
    color: black;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.1);
}

input::placeholder, textarea::placeholder {
    color: white;
    font-family: "Roboto";
}

textarea::placeholder {
    padding: 2px;
}

/* BOTON ENVIAR */

#submit-button {
    font-size: 16px;
    font-family: 'Poppins';
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
}

#submit-button:hover {
    background-color: #ab1c15;
}

/* UBICACION */

.tu-eleccion {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    height: 1000px;
    margin-bottom: 40px;
}

.txt-contenedor {
    width: 500px;
    height: 460px;
    font-size: 13px;
    color: white;
    text-align: left;
}

.txt-electo {
    justify-content: center;
    align-items: center;
    color:white;
    margin: 10px;
}

.txt-electo h1 {
    font-family: 'Poppins';
    font-size: clamp(23px, 5vw, 27px);
    font-weight: 600;
    color: #FFA600;
    margin-bottom: 2px;
}


.txt-electo p {
    font-family: 'Roboto';
    font-size: clamp(12px, 3vw, 16px);
    color: #D3CFC6;
}

.txt-contenedor .img-eleccion {
    width: 100%;
    margin-top: 10%;
    border-radius: 20px;
}

.mapa h2 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: clamp(17px, 3vw, 35px);
    margin-bottom: 10%;
}


/* FOOTER */

.footer {
    display: flex;
    background-image: url("./IMG/segundacheese.jpg");
    background-position: left;
    position: relative;
    max-width: 1300px;
    min-height: 400px;
    background-blend-mode: darken;
    background-size: auto;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin-top: 15%;
}

.links h4 {
    color: white;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 20px;
    transition: 0.2s;
    justify-content: left;
    align-items: center;
    display: flex
}

.links ul li a {
    color: white;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 16px;
}

.links ul li a:hover {
    color: red;
}


.links .social img {
    margin-top: 8px;
}

/* COPYRIGHT */

.copyright {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 12px;
}

/* BOTON WHATSAPP */

.float-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
    width: 70px;
    height: 70px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
    margin: 35px;
}

.float-btn:hover {
    background-color: #21ac5d;
    transform: scale(1.1);
}

.float-btn img {
    margin-top: 4px;
    width: 70px;
    height: 35px;
}


/* R E S P O N S I V E */

/* TABLET */

@media (max-width: 991px) {
    /* MENU */

    .menu {
        padding: 0px;
        justify-content: space-between;
    }

    /* MENU 2 */

    .menu-2 {
        display: none;
    }

    .logo-1 {
        width: 20%;
        margin-left: 30px;
        margin-top: 25px;
    }

    .logo-2 {
        width: 0;
    }

    .menu label {
        display: initial;
        margin-right: 50px;
        margin-top: 65px;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #181818;
        display: none;
    }

    .menu .navbar ul li {
        width: 70%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .menu-icono {
        margin-top: 80%;
    }

    /* FORMULARIO DE CONTACTO */

    .contacto {
        margin-top: 50%;
        padding: 20px;
        margin-bottom: 40%;
    }

    .contacto h2 {
        margin-bottom: 100px;
    }

    #submit-button {
        margin-bottom: 25px;
        margin-top: 30px;
    }

    /* FOOTER */
    
    .footer {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .links h4 {
        margin: 25px 0px 10px 0px;
    }

    /* REDES SOCIALES FOOTER */

    .socials {
        justify-content: center;
    }

    .social img {
        margin: 8px 0 0 0;
    }

    /* COPYRIGHT*/

    .copyright {
        margin-top: 40px;
    }


}

/* MOVIL GRANDE */

@media screen and (max-width:600px) {

    /* MENU */

    .menu-icono {
        width: 20px;
        margin-top: -20px;
    }

    /* FORMULARIO DE CONTACTO */

    .contacto h2 {
        font-size: 40px;
    }

    /* CAMPOS A COMPLETAR */

    .input-group {
        font-size: 15px;
    }

    #submit-button {
        font-size: 15px;
    }

    /* BOTON WHATSAPP */

    .float-btn {
        width: 45px;
        height: 45px;
        margin-right: 20px;
    }

    .float-btn img {
        width: 40px;
        height: auto;
    }
}

/*MOVIL PEQUEÑO */

@media screen and (max-width:400px) {

    /* FORMULARIO DE CONTACTO */

    .contacto {
        margin-top: 100%;
        margin-bottom: 90%;
    }
    .contacto h2 {
        font-size: 32px;
    }

    /* CAMPOS A COMPLETAR */

    .input-group {
        font-size: 13px;
    }

    #submit-button {
        font-size: 13px;
    }

    /* FOOTER */

    .footer {
        margin-left: 2%;
    }

    .links h4 {
        font-size: 15px;
    }

    .links ul li a {
        font-size: 13px;
    }


}