@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color:black;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

/* MENU */

.menu {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navbar {
    display: flex;
}

.menu-1 {
    margin-right: 200px;
    margin-top: 40px;
}

/* MENU 2 */

.menu-2 {
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.logo-1 {
    width: 0;
}

.logo-2 {
    width: 150px;
    margin-right: 15px;
}

.socials {
    display: flex;
    cursor: pointer;
}

.social {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid red;
    border-radius: 50%;
}

.social:hover {
    background-color: red;
}

.social img {
    margin: 8px 0 0 10px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #DB241B;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    margin-top: 200px;
    padding-bottom: 50px;
}

/* BANNER */

.banner-txt {
    justify-content: center;
    text-align: center;
    justify-content: center;
    margin-top: 40%;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    z-index: 1;
    margin-left: 25%;
    color:white;
    font-size: 40px;
}

.imagen {
    margin-top: 25%;
    margin-bottom: 15%;
}

.imagen img {
    width: 100%;
    height: 550px;
}


.banner-p h1 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    font-size: clamp(27px, 3vw, 35px);
}

.banner-p p {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 23px;
    font-size: 14px;

}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.button a{
    color:white;
    background-color: red;
    padding: 15px 20px 15px 20px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 50px;
    letter-spacing: 2px;
    margin-bottom: 70px;
}

.tu-eleccion {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    height: 600px;
    margin-bottom: 40px;
}

.txt-contenedor {
    width: 500px;
    height: 460px;
    font-size: 13px;
    color: white;
    text-align: left;
}

.txt-electo {
    color:white;
    margin: 10px;
}

.txt-electo h1 {
    font-family: 'Poppins';
    font-size: clamp(27px, 5vw, 30px);
    font-weight: 700;
    margin-bottom: 2px;
}

.txt-electo h2 {
    font-family: 'Roboto';
    font-size: clamp(23px, 3vw, 27px);
    font-weight: 600;
    margin-bottom: 25px;
}

.txt-electo p {
    font-family: 'Poppins';
    font-size: clamp(13px, 3vw, 16px);
    color: #D3CFC6;
}

.txt-contenedor .img-eleccion {
    width: 100%;
    margin-top: 10%;
}

/* FORMULARIO DE CONTACTO */

.contacto {
    text-align: center;
    margin-top: 100px;
    color: white;
    font-size: 17px;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 90px;
    background-image: url("./IMG/burger-and-fries-pattern-vector-º1.jpg");
}

.contacto h2 {
    font-size: clamp(30px, 3vw, 40px);
    margin-bottom: 100px;
    text-transform: uppercase;
}

/* CAMPOS A COMPLETAR */

.input-group {
    width: 100%;
    margin-bottom: 15px;
}

.contacto label {
    display: none;
}

.input-group input, .input-group textarea {
    width: 50%;
    padding: 8px;
    border: 1px solid red;
    color: black;
    background-color: black;
    border-radius: 25px;
}

input::placeholder, textarea::placeholder {
    color: white;
    font-family: "Roboto";
}

textarea::placeholder {
    padding: 2px;
}

/* BOTON ENVIAR */

#submit-button {
    font-size: 16px;
    font-family: 'Poppins';
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
}

#submit-button:hover {
    background-color: #ab1c15;
}


/* FOOTER */

.footer {
    display: flex;
    background-image: url("./IMG/fondo.jpg");
    background-position: left;
    position: relative;
    max-width: 1300px;
    min-height: 400px;
    background-blend-mode: darken;
    background-size: auto;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    margin-top: 15%;
}

.links h4 {
    color: white;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: clamp(16px, 3vw, 20px);
    transition: 0.2s;
    justify-content: left;
    align-items: center;
    display: flex
}

.links ul li a {
    color: white;
    display: inline-block;
    margin-bottom: 5px;
    font-size: clamp(13px, 3vw, 16px);
}

.links ul li a:hover {
    color: red;
}


.links .social img {
    margin-top: 8px;
}

/* COPYRIGHT*/

.copyright {
    text-align: center;
    background-color: black;
    color: white;
    margin-bottom: 20px;
    font-size: clamp(9px, 2vw, 12px);
}

/* BOTON WHATSAPP */

.float-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
    width: 70px;
    height: 70px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
    margin: 35px;
}

.float-btn:hover {
    background-color: #21ac5d;
    transform: scale(1.1);
}

.float-btn img {
    margin-top: 4px;
    width: 70px;
    height: 35px;
}

/* R E S P O N S I V E */

/* TABLET */

@media screen and (max-width: 1100px) {
    .txt-electo {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .tu-eleccion {
        margin-top: 20%;
    }


}

@media(max-width: 991px) {

    /* MENU */

    .menu {
        padding: 20px;
        justify-content: space-between;
    }

    /* MENU 2 */

    .menu-2 {
        display: none;
    }

    .logo-1 {
        width: 100px;
    }

    .logo-2 {
        width: 0;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #181818;
        display: none;
    }

    .menu-icono {
        margin-left: -50%;
        margin-top: 100%;
    }

    .menu .navbar ul li {
        width: 100%;

    }

    #menu:checked ~ .navbar {
        display: initial; 
    }

    .header-content {
        padding: 30px;
        margin-top: 150px;
        display: inline-block;
    }

    /* BANNER */

    .banner-txt {
        margin-top: 50%;
        font-size: 35px;
    }

    .imagen img {
        height: auto;
    }

    .banner-txt h1 {
        font-size: 55px;
    }

    .tu-eleccion {
        margin-top: 20%;
    }


}

/* MOVIL GRANDE */

@media screen and (max-width:600px) {

    /* MENU */

    .menu-icono {
        width: 20px;
    }

    .logo-1 {
        margin-top: -4%;
    }

    /* BANNER */

    .banner-txt {
        margin-top: 90%;
    }

    .banner-txt h1 {
        font-size: 45px;
    }

    .imagen {
        margin-top: 50%;
    }

    .imagen img {
        height: 450px;
    }

    .banner-p {
        margin-top: 30%;
    }

    .tu-eleccion {
        margin-top: 40%;
    }

    .footer {
        margin-top: 50%;
    }


    /* BOTON WHATSAPP */
    
    .float-btn {
        width: 45px;
        height: 45px;
        margin-right: 20px;
    }

    .float-btn img {
        width: 40px;
        height: auto;
    }


}


/* MOVIL PEQUEÑO */

@media screen and (max-width:400px) {

    /* MENU */

    .menu-icono {
        width: 20px;
        margin-top: 150%;
    }

    /* BANNER */

    .imagen  img {
        margin-top: -20%;
    }

    .banner-txt {
        margin-left: 25%;
        margin-top: 80%;
    }

    .banner-txt h1 {
        text-align: center;
        font-size: 45px;
        width: 100%;
    }

    .imagen {
        margin-bottom: 50%;
        margin-top: 60%;
    }

    .input-group input, .input-group textarea {
        width: 90%;
        
    }



}